*{
  margin: 0;
  padding: 0;
}
.app{
  background-color: #fafafa;
}
.app__header img{
  object-fit: contain;
  width: 20%;
  height: 70px;
  
}
.app__header{
  background-color: #ffff;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}
.app__signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}